<section th:fragment="spinner-frag" id="spinner-frag">
    <div id="loading-overlay d-flex justify-content-center align-content-center">
        <div class="container d-flex justify-content-center align-content-center">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col d-flex justify-content-center align-content-center">
                    <div id="spinner" class="spinner-grow text-success" style="width: 3rem; height: 3rem;" role="status"></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


