<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Index</title>
    </head>

    <body id="bg-body">
        <header th:replace="~{layout/plantilla :: header}"></header>

        <div class="container overflow-hidden">     
            <div id="container-border" class="row p-1"></div>
            <div class="row mt-5 me-5 mb-5">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 p-3 d-flex align-items-center justify-content-center">
                        <h3 id="section">[[#{index.seccion1}]]</h3>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="text-left">
                            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/comercial/homebankingLink}">
                                <i class="icon" id="link-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class=" text-left">
                            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/comercial/homebankingBanelco}">
                                <i class="icon" id="banelco-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="text-left">
                            <a  sec:authorize="hasRole('ROLE_USER')" th:href="@{/comercial/sirplus}" >
                                <i class="icon" id="sirplus-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br/>
                    <hr id="hr" />
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 p-3 d-flex align-items-center justify-content-center">
                        <h3 id="section">[[#{index.seccion2}]]</h3>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="text-left">
                            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/comercial/debitosAutomaticos}">
                                <i class="icon" id="debitosautomaticos-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="text-left">
                            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/comercial/macroClick}">
                                <i class="icon" id="macroclick-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')" class="row">
                    <br/>
                    <hr id="hr"/>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 p-3 d-flex align-items-center justify-content-center">
                        <h3 id="section">[[#{index.seccion3}]]</h3>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="align-self-center">
                            <a   th:href="@{/insumos/insumos}">
                                <i class="icon" id="insumos-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div sec:authorize="hasRole('ROLE_SUPPORT')" class="row">
                    <br/>
                    <hr id="hr"/>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 p-3 d-flex align-items-center justify-content-center">
                        <h3 id="section">[[#{index.seccion4}]]</h3>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="align-self-center">
                            <a  th:href="@{/alertas/alertas}">
                                <i class="icon" id="alerta-icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-3 d-flex">
                        <div class="align-self-center">
                            <a th:href="@{/backup/backup}">
                                <i class="icon" id="backup-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
