<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <section th:fragment="titular-details" id="titular">

        <br/>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">
                    <input class="btn-check" type="radio" name="accion-tit" value="Crear-tit" id="rBtnCrear-tit" onchange="mostrarFormTit()"/>
                    <label class="btn btn-light custom-btn-label" for="rBtnCrear-tit"><i class="fas fa-plus-circle me-2"></i>Crear</label>
                </div> 
                <div class="col-md-4">
                    <input class="btn-check" type="radio" name="accion-tit" value="Actualizar-tit" id="rBtnActualizar-tit" onchange="mostrarFormTit()"/>
                    <label class="btn btn-light custom-btn-label" for="rBtnActualizar-tit"><i class="fas fa-sync-alt me-2"></i>Actualizar</label>
                </div>
            </div>
        </div>

        <div class="container">

            <!-- FORM CATEGORIA NUEVA -->
            <div id="formNueva-tit" style="display: none;">
                <hr/>
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <form th:action="@{/crearTitular}">
                                    <div class="col-12">
                                        <label for="nombreTitular" class="form-label">Nombre: </label>
                                        <input type="text" name="nombreTitular" class="form-control" id="nombreTitular" aria-describedby="ayudaNombre" required>
                                            <div id="ayudaNombre" class="form-text">Ingrese el nombre del Titular</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="apellidoTitular" class="form-label mt-2">Apellido: </label>
                                        <input type="text" name="apellidoTitular" class="form-control" id="apellidoTitular" aria-describedby="ayudaNombre" required>
                                            <div id="ayudaNombre" class="form-text">Ingrese el apellido del Titular</div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select name="departamento" class="form-select mt-2" id="floatingSelect" aria-label="Floating label select example">
                                                <option th:each="departamento : ${session.departamentos}" th:value="${departamento.getIdDepartamento()}" 
                                                        th:text="${departamento.getNombre_departamento()}"></option>
                                            </select>
                                            <label for="floatingSelect">Departamentos</label>
                                        </div>
                                    </div>
                                    <div class=" mt-3 d-grid">
                                        <button type="submit" id="btn-verdes" class="btn rounded-5 m-2 fs-5">Crear</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FORM ACTUALIZAR O ELIMINAR CATEGORIA -->
            <div id="formActualizar-tit" style="display: none;"> 
                <hr/>
                <div class="container mt-3">
                    <div class ="row d-flex justify-content-center">
                        <div class="col-md-5">
                            <div class="dropdown ps-3 ms-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    TITULARES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li th:each="titular : ${session.titulares}">
                                        <button class="dropdown-item" th:onclick="seleccionoTitular(this)" th:value="${titular.getIdTitular()}"
                                                th:text="${titular.getNombre()+' '+titular.getApellido()}">
                                        </button>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class ="row d-flex justify-content-center">
                        <div class="ms-2 col-md-10" id="tit-check" style="display: none;">
                            <form method="POST"  action="/updateTitular" >
                                <div class="mb-3">
                                    <label for="textIdTit" class="form-label">ID: </label><br/>
                                    <input  class="form-control" type="text" name="textIdTit"   id="textIdTit" readonly></input>

                                    <label for="nombreTit-Upd" class="form-label">Nombre: </label>
                                    <input type="text" name="nombreUpdate" class="form-control" id="nombreTit-Upd" aria-describedby="ayudaNombre" required></input>
                                    <div id="ayudaNombre" class="form-text">Ingrese los cambios en  el nombre para el Titular</div>

                                    <label for="apellidoTit-Upd" class="form-label">Apellido: </label>
                                    <input type="text" name="apellidoUpdate" class="form-control" id="apellidoTit-Upd" aria-describedby="ayudaNombre" required></input>
                                    <div id="ayudaNombre" class="form-text">Ingrese los cambios en  el nombre para el Titular</div>

                                    <div class="form-floating">
                                        <select name="departamento" class="form-select mt-2" id="floatingSelect" aria-label="Floating label select example" required>
                                            <option th:each="departamento : ${session.departamentos}" th:value="${departamento.getIdDepartamento()}" 
                                                    th:text="${departamento.getNombre_departamento()}"></option>
                                        </select>
                                        <label for="floatingSelect">Seleccione el nuevo departamento</label>
                                    </div>

                                </div>
                                <div class="row d-flex justify-content-center ms-2">
                                    <div class="col-5">
                                        <button type="submit" id="btn-verdes" class="btn"><i class="fas fa-sync-alt fa-lg"></i>Actualizar</button>
                                    </div>
                                </div>  
                            </form>
                            <form method="POST" action="/eliminarTitular">
                                <div class="row d-flex justify-content-center ms-2">
                                    <div class="col-5 mt-3">
                                        <input  type="hidden" name="idEliminar" readOnly id="IdEliminarTit"></input>
                                        <button type="submit" id="btn-eliminar" class="btn btn-outline-danger ps-4 pe-4"><i class="fas fa-trash-alt fa-lg"></i>Eliminar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ms-2 col-md-10">
                            <div id="tit-uncheck" style="display: block;">
                                <div class="alert alert-light text-center" role="alert">
                                    <p>...NO SELECCIONO NINGUN TITULAR...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</html>
